<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingpukj.tag.mapper.PersonasProductMapper">
    
    <resultMap type="PersonasProduct" id="PersonasProductResult">
        <result property="productId"    column="product_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productPrice"    column="product_price"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectPersonasProductVo">
        select product_id, parent_id, product_name, product_price, order_num, status from personas_product
    </sql>

    <select id="selectPersonasProductList" parameterType="PersonasProduct" resultMap="PersonasProductResult">
        <include refid="selectPersonasProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="params.beginProductPrice != null and params.beginProductPrice != '' and params.endProductPrice != null and params.endProductPrice != ''"> and product_price between #{params.beginProductPrice} and #{params.endProductPrice}</if>
        </where>
    </select>
    
    <select id="selectPersonasProductById" parameterType="Long" resultMap="PersonasProductResult">
        <include refid="selectPersonasProductVo"/>
        where product_id = #{productId}
    </select>
        
    <insert id="insertPersonasProduct" parameterType="PersonasProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into personas_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="productPrice != null">product_price,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="productPrice != null">#{productPrice},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updatePersonasProduct" parameterType="PersonasProduct">
        update personas_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productPrice != null">product_price = #{productPrice},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deletePersonasProductById" parameterType="Long">
        delete from personas_product where product_id = #{productId}
    </delete>

    <delete id="deletePersonasProductByIds" parameterType="String">
        delete from personas_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>