<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProductMapper">
    
    <resultMap type="SysProduct" id="SysProductResult">
        <result property="productId"    column="product_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="productName"    column="product_name"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysProductVo">
        select product_id, parent_id, product_name, order_num, status from sys_product
    </sql>

    <select id="selectSysProductList" parameterType="SysProduct" resultMap="SysProductResult">
        <include refid="selectSysProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysProductById" parameterType="Long" resultMap="SysProductResult">
        <include refid="selectSysProductVo"/>
        where product_id = #{productId}
    </select>
        
    <insert id="insertSysProduct" parameterType="SysProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into sys_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateSysProduct" parameterType="SysProduct">
        update sys_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteSysProductById" parameterType="Long">
        delete from sys_product where product_id = #{productId}
    </delete>

    <delete id="deleteSysProductByIds" parameterType="String">
        delete from sys_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>